.logo {
  top: 0px;
  width: 245px;
}

.georgia {
  font-weight: 600;
  font-family: "Palatino";
  color: black;
  text-align: left;
  font-size: 100%;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-family: "Palatino";
  color: black;

  font-size: 130%;
  text-decoration: none;
}

.parent-box {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  width: 175px;
}

/* change this for desktop view */
@media screen and (min-width: 760px) {
  .title {
    padding-top: 64px;
  }
}


nav {
position: relative;
display: inline-block;
justify-content: space-between;
}

nav > a:hover,
nav #active-nav {
  color: black;
}

#active-nav {
  color: black;
}

nav > a {
  text-decoration: none;
  font-family: "Avenir", sans-serif;
  color: grey;
  text-align: left;
  font-size: 90%;
  display: flex;
}

nav > a:hover {
  color: black;
}

.navbar > a:hover,
.navbar #active-nav {
  color: black;
}

.about > a {
  font-size: 90%;
  color: grey;
  text-decoration: none;
  text-align: left;
  font-family: "Avenir", sans-serif;
}

.about > a:hover {
  color: black;
}




.credits {
  text-align: right;
  color: grey;
  padding-right: 1%;
  font-size: 90%;
}

p {
  text-align: center;
  font-family: "Palatino";
  padding-top: 1%;
}

.duo {
  display: flex;

  max-width: 1000px;

  margin: auto;

  margin-top: 5%;

  margin-bottom: 5%;

  align-content: center;

  justify-content: center;
}

.portrait {
  max-width: 220px;
  padding-bottom: 1%;
  max-width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

.landscape {
  max-width: 350px;
  padding-bottom: 1%;
  max-width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

.gallery {
  max-width: 1000px;

  margin: auto;

  margin-bottom: 8%;

  align-content: center;

  justify-content: center;
}

#right1 {
  max-width: 50%;
}
#left1 {
  max-width: 50%;
}
.logo_div {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 6%;
}

nav {
    font-weight: 300;
}

.logo {
  top: 0px;
  width: 245px;
}


/* Dropdown Button */
.dropbtn {
    text-decoration: none;
  font-family: "Avenir", sans-serif;
  color: grey;
  font-size: 90%;
  display: inline-block;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  padding-left: 50px;
  font-family: "Avenir", sans-serif;
  color: black;
  font-size: 80%;
  text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: grey;
  text-decoration: none;
  display: block;
  min-width: 500px;
}

#first {
margin-left: 70px;
margin-top: -27px;
}
#second {
margin-left: 26px;
margin-top: -27.5px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: black;}
